/* Estilos para el formulario de contacto */

/* Alineación del formulario */
.ContactoInfo {
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para las filas del formulario */
.form-row {
    margin-bottom: 20px;
}

/* Estilos para las etiquetas del formulario */
label {
    display: block;
    font-weight: bold;
}

/* Estilos para los inputs y textarea */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón de enviar */
button {
    padding: 10px 20px;
    background-color: #0e2941;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #002b52;
}

/* Estilos para las instrucciones */
.instructions {
    font-style: italic;
    color: #777;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .ContactoInfo {
        padding: 0 20px;
    }
}